 body{ 
    font-family: 'Roboto', sans-serif;
    color: #434455; 
    background-color: #FFFFFF; 
    margin: 0;
} 
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

img{
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-container{
    display: flex;
}


.header-nav{
    display: flex;
    align-items: center;
    
}

.menu{
    display: flex;
    gap: 40px;
}

.contact-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo{
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part{
    font-family: "Raleway", sans-serif;
    color: #2e2f42;

}



.navigation-item{
    position: relative;
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page{
    color: #404bbf;
}

.active-page::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


.navigation-item:hover, .navigation-item:focus{
    color: #404bbf;
}

.portfolio:hover, .contacts:hover{
    color: #404bbf;
}

.contact-info{
    display: flex;
    font-style: normal;
    margin-left: auto;
    
}

.contacts{
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover, .contacts:focus{
    color: #404bbf;
}


/* Intro */

.section-intro{
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title{
    max-width: 496px;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
    
}

.order-button{   
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color:  #4d5ae5;
    cursor: pointer;
} 
.order-button:hover, .order-button:focus{
    background-color: #404bbf;
    
}

/* Section titles */

.section-title{
    margin: 0 auto;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42
}

/* Info content */

.benefits-section{
    padding: 120px 0;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list{
    display: flex;
    gap: 24px;
}

.benefits-icon-field{
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
}

.benefits-item{
    width: calc((100% - 24px*3) / 4);
}

.benefits-icon{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
}

.benefits{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team */

.section-title{
    margin-bottom: 72px;
}

.team-cards {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-list{
    display: flex;
    gap: 24px;
}

.card-info{
    margin: 0 auto;
    padding: 32px 0;
}
.list-item{
    background-color: #FFFFFF;
    width: calc((100%-72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member{
   margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455; 
}

.icons-list{
    display: flex;
    justify-content: center;
    margin-left: 16px;
    margin-top: 8px;
    margin-right: 16px;
    gap: 24px;
}


.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    max-width: ((100% - 3*24px) / 4);
    transition-property: background-color;
    transition-duration:  250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media:hover, .social-media:focus{
    background-color: #404bbf;
}

.card-icon{
    fill: #f4f4fd;
}

/* Portfolio */

.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title{
    margin-bottom: 72px;
}

.portfolio-cards{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    
}

.portfolio-cards-list{
    width: ((100% - 2*24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-cards-list:hover .portfolio-overlay{
    transform: translateY(0);
}

.portfolio-cards-list:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-overlay{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
}

.cards-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.portfolio-list{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-content{
    margin-right: 120px;
}


.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: #4d5ae5;
}

.footer-logo-part{
    font-family: "Raleway", sans-serif;
    color: #f4f4fd;
}

.footer-text{
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-list-title{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF ;
}

.footer-icons-list{
    display: flex;
    gap: 16px;
}

.social-media-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    max-width: ((100% - 3*24px) / 4);
    transition-property: background-color;
    transition-duration:  250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-footer:hover, .social-media-footer:focus{
    background-color: #31d0aa;
}


.footer-form-container{
    margin-left: 80px;
}

.footer-form{
    display: flex;
    gap: 24px;
}

.footer-form-title{
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.email-input{
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: transparent;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.email-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}


.subscribe-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.subscribe-icon{
    margin-left: 16px;
}

/* Backdrop */

.backdrop{
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    position: absolute;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop.is-open{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus{
    background-color: #404bbf;
    border: none;
}

.close-btn-icon{
    stroke: #2e2f42;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon{
    stroke: #ffffff;
    fill: #ffffff;
}

.close-btn:focus .close-btn-icon{
    stroke: #ffffff;
    fill: #ffffff;
}
.modal-text{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.form-container {
    margin-bottom: 8px;
}

.form-container-checkbox{
    margin-bottom: 16px;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus{
    border-color: #4d5ae5;
}


.footer-icon {
    position: absolute;
    fill: #2e2f42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.footer-icon{
    fill: #4d5ae5;
}

.form-comment{
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus{
    border-color: #4d5ae5;
}

.form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox{
    margin-bottom: 24px;
}

.custom-checkbox{
    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:checked + .checkbox-label > .custom-checkbox {
    border: none;
    background-color: #404bbf;;
    fill: #f4f4fd;
}


.checkbox-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy{
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    text-decoration: underline;
}

.form-btn{
    display: block;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}